---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        
        {% if post.lead_words %}
        <p>
          {{ post.content | strip_html | truncatewords: post.lead_words }}
        </p>
        {% else %}
          {{ post.content | strip_html | truncatewords: 30 }}
        {% endif %}

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  {% for i in (1..paginator.total_pages) %}
    {% if i == paginator.page %}
      <span>{{ i }}</span>
    {% else %}
      <span style="opacity: .3;">{{ i }}</span>
    {% endif %}
  {% endfor %}
</div>
